PA2Cliente/src/conf/xml-resources/web-service-references/empleadosUTH/wsdl/localhost_12948/uthWS/empleadosUTH.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.parcial3.pa2.uth.hn/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.parcial3.pa2.uth.hn/">

<xs:element name="getEmpleado" type="tns:getEmpleado"/>

<xs:element name="getEmpleadoResponse" type="tns:getEmpleadoResponse"/>

<xs:element name="getEmpleados" type="tns:getEmpleados"/>

<xs:element name="getEmpleadosResponse" type="tns:getEmpleadosResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="saludar" type="tns:saludar"/>

<xs:element name="saludarResponse" type="tns:saludarResponse"/>

<xs:element name="setEmpleado" type="tns:setEmpleado"/>

<xs:element name="setEmpleadoResponse" type="tns:setEmpleadoResponse"/>

<xs:complexType name="getEmpleados">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getEmpleadosResponse">
<xs:sequence>
<xs:element name="return" type="tns:empleado" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="empleado">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="cuenta" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setEmpleado">
<xs:sequence>
<xs:element name="cuenta" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setEmpleadoResponse">
<xs:sequence>
<xs:element name="return" type="tns:empleado" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEmpleado">
<xs:sequence>
<xs:element name="cuenta" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEmpleadoResponse">
<xs:sequence>
<xs:element name="return" type="tns:empleado" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saludar">
<xs:sequence>
<xs:element name="saludo" type="xs:string" minOccurs="0"/>
<xs:element name="persona" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saludarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>