PA2Cliente/web/WEB-INF/wsdl/localhost_12948/uthWS/empleadosUTH.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.parcial3.pa2.uth.hn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.parcial3.pa2.uth.hn/" name="empleadosUTH">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.parcial3.pa2.uth.hn/" schemaLocation="http://localhost:12948/uthWS/empleadosUTH?xsd=1"/>
</xsd:schema>
</types>
<message name="getEmpleado">
<part name="parameters" element="tns:getEmpleado"/>
</message>
<message name="getEmpleadoResponse">
<part name="parameters" element="tns:getEmpleadoResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getEmpleados">
<part name="parameters" element="tns:getEmpleados"/>
</message>
<message name="getEmpleadosResponse">
<part name="parameters" element="tns:getEmpleadosResponse"/>
</message>
<message name="setEmpleado">
<part name="parameters" element="tns:setEmpleado"/>
</message>
<message name="setEmpleadoResponse">
<part name="parameters" element="tns:setEmpleadoResponse"/>
</message>
<message name="saludar">
<part name="parameters" element="tns:saludar"/>
</message>
<message name="saludarResponse">
<part name="parameters" element="tns:saludarResponse"/>
</message>
<portType name="empleadosUTH">
<operation name="getEmpleado">
<input wsam:Action="http://ws.parcial3.pa2.uth.hn/empleadosUTH/getEmpleadoRequest" message="tns:getEmpleado"/>
<output wsam:Action="http://ws.parcial3.pa2.uth.hn/empleadosUTH/getEmpleadoResponse" message="tns:getEmpleadoResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws.parcial3.pa2.uth.hn/empleadosUTH/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.parcial3.pa2.uth.hn/empleadosUTH/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getEmpleados">
<input wsam:Action="http://ws.parcial3.pa2.uth.hn/empleadosUTH/getEmpleadosRequest" message="tns:getEmpleados"/>
<output wsam:Action="http://ws.parcial3.pa2.uth.hn/empleadosUTH/getEmpleadosResponse" message="tns:getEmpleadosResponse"/>
</operation>
<operation name="setEmpleado">
<input wsam:Action="http://ws.parcial3.pa2.uth.hn/empleadosUTH/setEmpleadoRequest" message="tns:setEmpleado"/>
<output wsam:Action="http://ws.parcial3.pa2.uth.hn/empleadosUTH/setEmpleadoResponse" message="tns:setEmpleadoResponse"/>
</operation>
<operation name="saludar">
<input wsam:Action="http://ws.parcial3.pa2.uth.hn/empleadosUTH/saludarRequest" message="tns:saludar"/>
<output wsam:Action="http://ws.parcial3.pa2.uth.hn/empleadosUTH/saludarResponse" message="tns:saludarResponse"/>
</operation>
</portType>
<binding name="empleadosUTHPortBinding" type="tns:empleadosUTH">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmpleados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saludar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="empleadosUTH">
<port name="empleadosUTHPort" binding="tns:empleadosUTHPortBinding">
<soap:address location="http://localhost:12948/uthWS/empleadosUTH"/>
</port>
</service>
</definitions>